<div align="center">

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <p>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </p>

        <button mat-button type="submit" [disabled]="loginForm.invalid">Login</button>

    </form>

</div>