<div align="center">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <p>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </p>

        <button mat-button type="submit" [disabled]="registerForm.invalid">Register</button>

    </form>
</div>